*{
  padding:0;
  margin:0;
  list-style: none;
  touch-action: pan-y;
}
html,body{
  height:100%;
  line-height:normal;
}
.fl{
  float:left;
}
.fr{
  float:right;
}
p{
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: 'GothamBook';
  src: url('../fonts/GothamBook.ttf');
}
.mui-content{
  min-height:100%;
  background: #FF7137;
  padding-top: 27.6rem;
}
.container{
  width: 35rem;
  margin: auto;
}
.tab-title{
  width: 100%;
  height: 4.4rem;
  line-height: 4.4rem;
  border-radius: 2rem 2rem 0 0;
  overflow: hidden;
  position: relative;
  background: #E24E26;
  border: 0;
}
.tab-title::before{
  width: 1.8rem;
  height: 100%;
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -.9rem;
  background: linear-gradient(#E24E26 50%, #FFFFFF 50%);
}
.tab-title-1,
.tab-title-2{
  width: 50%;
  height: inherit;
  line-height: inherit;
  background: none;
  border-radius: none;
  font-size: 1.7rem;
  font-weight: 500;
  color: #FFF4C5BD;
  position: absolute;
  background: #E24E26;
  top: 0;
  border: 0;
  z-index: 3;
}
.tab-title-1{
  text-align: left;
  padding-left: 5.3rem;
  left: 0;
  border-bottom-right-radius: .8rem;
  /* width: 18.4rem */
}
.tab-title-1.active{
  border-top-right-radius: .8rem;
  border-bottom-right-radius: 0;
  background: #ffffff;
  color: #803D1D;
  opacity: 1;
  z-index: 2;
  /* width: 16.6rem; */
}
.tab-title-2{
  text-align: right;
  padding-right: 6.2rem;
  right: 0;
  border-bottom-left-radius: .8rem;
  /* width: 18.4rem */
}
.tab-title-2.active{
  border-top-left-radius: .8rem;
  border-bottom-left-radius: 0;
  background: #ffffff;
  color: #803D1D;
  opacity: 1;
  z-index: 2;
  /* width: 16.6rem; */
}


.tab-content-rank{
  position: relative;
  height: 64.5rem;
  background: #ffffff;
  border-radius: 0 0 2rem 2rem;
  display: none;
}
.rank-title{
  font-size: 1.5rem;
  font-weight: bold;
  color: #9C7461;
  line-height: 1;
  padding-top: 1.8rem;
  padding-bottom: 1.2rem;
}
.rank-title span{
  display: inline-block;
}
.rank-title span:nth-child(1),
.rank-key{
  width: 8rem;
  text-align: center;
}
.rank-title span:nth-child(2),
.rank-img{
  width: 4rem;
  margin-right: 4rem;
  text-align: center;
}
.rank-img img{
  width: 100%;
  border-radius: 50%;
}
.rank-key{
  font-size: 1.6rem;
  font-weight: 400;
  color: #803D1D;
}
.rank-key img{
  display: block;
  width: 2.4rem;
  height: 3.9rem;
  margin: auto;
}
.rank-inner{
  width: 100%;
  padding: 0;
}
.rank-item-wrap{
  height: 6rem;
  position: relative;
}
.rank-item-wrap::before{
  content: '';
  width: 100%;
  height: 1px;
  background: linear-gradient(#E0D9DB, #ffffff);
  position: absolute;
  bottom: 0;
  left: 0;
}
.rank-item-wrap:last-child::before{
  display: none;
}
.rank-item{
  height: 100%;
}
.rank-name{
  font-size: 1.5rem;
  font-weight: 400;
  color: #803D1D;
}


.tab-content-goods{
  background: #ffffff;
  border-radius: 0 0 2rem 2rem;
  padding: 0 2rem 2.7rem 2rem;
}
.box-rule .title,
.box-goods .title{
  padding: 2.3rem 0 1.1rem;
}
.box-rule .title img,
.box-goods .title img{
  height: 1.8rem;
  display: inline-block;
}
.box-rule p{
  padding-left: .3rem;
  color: #2A1C17;
}
.box-rule .p1{
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.7rem;
}
.box-rule p strong{
  color: #F44D13;
  font-weight: 600;
}
.box-rule .p2{
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1;
  padding: .7rem 0 .5rem 0;
}
.goods-wrap .goods-box{
  width: 15rem;
  background: #FFFDF6;
  border: 2px solid #F9E7BC;
  border-radius: 1rem;
  overflow: hidden;
}
.goods-box .goods-img{
  width: 100%;
  height: 14.1rem;
}
.goods-box .goods-img .img-1{
  height: 11.3rem;
}
.goods-box .goods-img .img-2{
  height: 10.4rem;
}
.goods-box .goods-info{
  width: 100%;
  background: linear-gradient(62deg, #FF821D, #FE1904);
  padding: 1.3rem 0;
}
.goods-box .goods-info p{
  text-align: center;
  color: #ffffff;
  line-height: 1;
}
.goods-box .goods-info .p1{
  font-size: 1.6rem;
  font-weight: 600;
}
.goods-box .goods-info .p2{
  font-size: 1.4rem;
  font-weight: 400;
  padding: .5rem 0;
}
.goods-box .goods-info .p3{
  font-size: 1.2rem;
  font-weight: 400;
}
.goods-box2 .goods-info{
  background: linear-gradient(62deg, #FF971D, #F96015);
}

.footer{
  font-size: 14px;
  font-family: Alibaba PuHuiTi;
  font-weight: 500;
  color: #FFFFFF;
  line-height: 1;
  padding: 2.2rem 0 2.6rem 0;
  width: 100%;
  background: none;
  text-align: center;
}